* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.title {
    padding-bottom: 0;
    text-align: center;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background: #eee;
}

.divTitle{
    width: 100%;
    height: 40px;
}

.game{
    padding: 0;
    margin: 0;
}